<html>
<head>
    <style>
        h1{
            font-size: 1rem;
        }
        .success{
            color: #28b62c;
        }
        .row{
            display: flex;
            gap: 30px;
        }
    </style>
</head>
<body>
<table>
    <tr>
        <td><h1>Numéro d'inscription : </h1></td>
        <td><h1 class="success">{{ num }}</h1></td>
    </tr>
    <tr>
        <td><h1>Date : </h1></td>
        <td><h1 class="success">{{ date }}</h1></td>
    </tr>
    <tr>
        <td><h1>Nom et Prénom : </h1></td>
        <td><h1 class="success">{{ name }}&nbsp;{{ lastName }}</h1></td>
    </tr>
    <tr>
        <td><h1>Prémier choix : </h1></td>
        <td><h1 class="success">département-{{ first}}</h1></td>
    </tr>
    <tr>
        <td><h1>Deuxieme choix : </h1></td>
        <td><h1 class="success">département-{{ second}}</h1></td>
    </tr>
    <tr>
        <td><h1>Troisieme choix : </h1></td>
        <td><h1 class="success">département-{{ last}}</h1></td>
    </tr>
</table>
</body>
</html>