html{
    width: 100%;
    overflow-x: hidden;
    font: 18px/1.5 sans-serif;
}
*,::before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.dc{
 position: absolute;
    left: 0;
}
.accueil{
    width: 110%;
    height: 600px;
    background: #F0F4F9;
    position: relative;
    margin-bottom: 10%;
}
.wave{
    width: 110%;
    position: absolute;
    left: -1%;
    bottom: -11%;
    display: block;
}
.nav-p{
    background: linear-gradient(90.42deg, #172940 -37.33%, #6644FF 17.63%, #6644FF 42.24%, #FF99DD 159.32%);
    width: 100%;
    height: 110px;
    position: relative;
    z-index: 1000;
    position: fixed;
}
.nav-p>ul{
    height: 100%;
    list-style-type: none;
    display: flex;
    align-items: center;
}
.nav-p>ul>li{
    margin: 0 20px;
    cursor: pointer;
    color: #ffffff;
}
.item{
    font-size: 22px;
}
.titre-h{
    width: 50%;
    font-size: 2.5rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-wrap{
    width: 100%;
    position: absolute;
    left: 0;
    top: 27%;
    z-index: 999;
}
.wrap-center{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.form-container{
    width: 50%;
    background-color: white;
    border-radius: 17px;
    padding: 10px;
    box-shadow: 0px 10px 12px 2px rgba(0, 0, 0, .09);
}
.contenu{
    width: 100%;
    position: absolute;
    top: 27%;
    z-index: 999;
    display: flex;
    gap: 20px;
}
.contenu>*:nth-child(1){
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contenu>*:nth-child(2){
    width: 50%;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.slide-image{
    width: 75%;
    height: 100%;
    background-position:center top;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;
    position: absolute;
}
.first-visu{
    left: 0;
   z-index: 15;
}
.second-visu{
    left: -1.3%;
    top: 2.5%;
    z-index: 10;
}
.contenu>*:nth-child(2){
    width: 50%;
}
.title-p{
    font-size: 4rem;
    color: #6644f4;
    font-weight: bold;
}
.subtitle-p{
    font-size: 3rem;
    color: #172940;
    font-weight: bold;
}
.s-subtitle-p{
    font-size: 1.5rem;
    color: #424345;
    font-weight: 500;
}
.btn-register{
    width: 70%;
    text-decoration: none;
    border: none;
    cursor: pointer;
    border-radius: 36px;
    padding-right: 20px;
    background: linear-gradient(90.94deg, rgba(102, 68, 244, 0.25) -53.38%, rgba(255, 153, 221, 0.25) 118.57%);
    /*background-color:transparent ;*/
}
.btn-register>*:nth-child(1){
    width: 100%;
    background-color: #6644f4;
    margin: 10px;
    padding: 15px;
    border-radius: 36px;
    display: flex;
    font-size: 1.6rem;
    font-weight: 500;
    color: white;
}
.btn-contact{
    text-decoration: none;
    color: white;
    border: 3px solid white;
    border-radius: 36px;
    padding: 10px;
    font-size: 1.2rem;
    font-weight: 600;
}
.btn-contact:hover{
    color: white;
}
.btn-ins{
    text-decoration: none;
    border-radius: 36px;
    color: #6644f4;
    background-color: white;
    padding: 10px;
    font-size: 1.2rem;
    font-weight: bold;
}
.btn-ins:hover{
    color: #6644f4;
}
@media screen and (max-width: 450px){
    /*.accueil{*/
    /*    height: 85vh;*/
    /*}*/

    .content-wrap{
        width: 100%;
        position: absolute;
        left: 0;
        top: 27%;
        z-index: 999;
    }
    .form-container{
        width: 100%;
        background-color: red;
        border-radius: 17px;
        padding: 10px;
        box-shadow: 0px 10px 12px 2px rgba(0, 0, 0, .09);
    }
}