{% extends 'base.html.twig' %}

{% block base %}<base href="{{ path('app_register') }}" />{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
{% endblock %}
{% block title %}Register{% endblock %}

{% block content %}
 <div class="content-wrap wrap-center ">
     <div class="form-container">
         <app-root></app-root>
         <script src="{{ asset('js/runtime.c9ccb3e1453b1561.js') }}" type="module"></script>
         <script src="{{ asset('js/polyfills.2d124c4ab0ccbcae.js') }}" type="module"></script>
         <script src="{{ asset('js/main.bebc25afe7a334a5.js') }}" type="module"></script>
         <br>
         <br>
     </div>
     <div class="mt-5"></div>

 </div>
{% endblock %}

{% block body %}
{#<style>#}
{#    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }#}
{#    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }#}
{#</style>#}

{#<div class="example-wrapper">#}
{#    <h1>Hello {{ controller_name }}! ✅</h1>#}

{#    This friendly message is coming from:#}
{#    <ul>#}
{#        <li>Your controller at <code><a href="{{ 'C:/Users/LENOVO/Documents/dev/symfony/register_univ/src/Controller/RegisterController.php'|file_link(0) }}">src/Controller/RegisterController.php</a></code></li>#}
{#        <li>Your template at <code><a href="{{ 'C:/Users/LENOVO/Documents/dev/symfony/register_univ/templates/register/index.html.twig'|file_link(0) }}">templates/register/index.html.twig</a></code></li>#}
{#    </ul>#}
{#</div>#}
{% endblock %}
