<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block base %}
        {% endblock %}
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <link rel="stylesheet" href="{{ asset('css/home.css') }}">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
    <nav class="nav-p">
        <ul>
            <li class="titre-h">{% block nameSchool %}Titre du site{% endblock %}</li>
            <li class="item">Apropos</li>
            <li class="item"><a class="btn-contact">Contacts</a></li>
            <li class="item"><a class="btn-ins">S'inscrire</a></li>
        </ul>
    </nav>
    <div class="accueil">
        {% block content %}
        <div class="contenu">

            <div>
                <div>
                    <h1 class="title-p">Inscription ouverte</h1>
                    <h3 class="subtitle-p">Suivez le formulaire,<br> et prosedez à votre inscription</h3>
                    <br>
                    <p class="s-subtitle-p">Plus de 500 étudiants déjà inscrit</p>
                    <br><br>
                    <button class="btn-register">
                        <div><p>S'inscricre maintenant</p></div>
                    </button>
                </div>

            </div>
            <div>
                <div class="slide-image second-visu" style="background-image: url({{ asset('images/2.jpg') }})"></div>
                <div class="slide-image first-visu" style="background-image: url({{ asset('images/1.jpg') }})"></div>
            </div>
        </div>
        {% endblock %}
        <img  src="{{ asset('images/wave.svg') }}" class="wave" alt="">
    </div>

      <div>
          {% block body %}{% endblock %}
      </div>

    </body>
</html>
